* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;    
    font-size: 1.641rem;
}

@font-face 
{
    font-family: NgutangDong;
    src: url(fonts/ngutangdong.ttf);
}

#backgroundContainer
{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

#background
{   
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-filter:  blur(2px) grayscale(10%);
    filter:  blur(2px) grayscale(10%);  
}


@media screen and (max-aspect-ratio: 1920/1080) 
{
    #background {
        height: 100%;
        width: auto;
    }
}    

#content
{
    position: relative;
    margin: auto;
    max-width: 640px;
    padding: 8px;
    color: white;
    background-color: rgba(5,98,167,0.75);
    z-index: 2;
  
}

.container1
{
    display: flex;
    justify-content: center;
}

.profileContainer
{
    padding: 20px;
}

#profile
{
    padding: 5px;
    text-align: center;
}

.name1
{
    font-weight: bold;
}
.name2
{
    font-size: 1rem;
}

.profilePicture
{
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 100px;
}

.profilePictureContainer
{   
    display: flex;
    justify-content: center;
    align-items: center;
}

.text
{
    font-family: NgutangDong;
}

